.address p {
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.address__ring p,
.address__write p,
.address__postal p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.address__phone a,
.address__mail-address a,
.address__post-address {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @pink;
}
