.form {
  //
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    // padding: 0 130px;
    margin: 0 auto;
  }
}

.form__description {
  //
}

@media (min-width: @tablet-width) {
  .form__description {
    order: -7;
  }
}

@media (min-width: @desktop-width) {
  .form__description {
    order: -7;
  }
}

.form__full-name {
  outline: 3px solid rgba(255, 0, 0, 0.5);
  outline-offset: -3px;
  // border: 0;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .form__full-name {
    order: -6;
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__full-name {
    max-width: 435px;
    margin-left: 0;
    // max-width: 435px;
    // width: 50%;
    order: -6;
  }
}

.form__progress {
  outline: 3px solid rgba(0, 255, 0, 0.5);
  outline-offset: -3px;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .form__progress {
    order: -3;
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__progress {
    // order: -4;
    width: 940px;
  }
}


.form__contacts {
  outline: 3px solid rgba(0, 0, 255, 0.5);
  outline-offset: -3px;
}

@media (min-width: @tablet-width) {
  .form__contacts {
    order: -4;
  }
}

@media (min-width: @desktop-width) {
  .form__contacts {
    order: -4;
  }
}

.form__applications {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .form__applications {
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__applications {
    max-width: 435px;
    // order: -5;
  }
}

.form__emotions {
  outline: 3px solid rgba(255, 255, 0, 0.5);
  outline-offset: -3px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .form__emotions {
    order: -2;
  }
}

@media (min-width: @desktop-width) {
  .form__emotions {
    // order: -5;
  }
}


.form__content {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .form__content {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .form__content {
    //
  }
}

.form__content--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media (min-width: @tablet-width) {
  .form__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__button-item {
  padding: 23px 45px 23px 45px;
  color: @white;
  background-color: @green;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 1px;
  border: transparent;
  cursor: pointer;
}

.form__button-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.form__button-pinkish {
  color: @pink;
}
