// @media (min-width: @tablet-width) {
//   .look-differently {
//     display: flex;
//     flex-direction: column;
//     width: 300px;
//     min-height: 97px;
//   }
// }

// @media (min-width: @desktop-width) {
//   .look-differently {
//     display: none;
//   }
// }

.look-differently__header {
  font-weight: 300;
  line-height: 29px;
  font-size: 24px;
  text-align: center;
  color: white;
}

@media (min-width: @tablet-width) {
  .look-differently__header {
    width: 300px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: @desktop-width) {
  .look-differently__header {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
  }
}

.look-differently__hand-container {
  background-image: url("/img/hand-mobile.png");
  min-height: 286px;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

@media (min-width: @tablet-width) {
  .look-differently__hand-container {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .look-differently__hand-container {
    display: none;
  }
}
