.page-header {
  background-image: url("/img/back-mobile.jpg");
  background-color: @basic-font;
  background-repeat: no-repeat;
  color: @white;
  margin-bottom: 0;
  outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -3px;
}
