.page-footer {
  margin: 0;
  padding: 0;


  outline: 3px solid rgba(255, 0, 255, 0.5);
  outline-offset: -3px;
}


.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


//тут я конечно не разобрался
.social-ellipse {
  display: block;
  opacity: 0.1;
  border: 3px solid #283645;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.social-ellipse-item {
  opacity: 1;
}
