.photo-of-day__wrapper {
  //
}

.photo-of-day__header {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: @white;
  background-color: @pink;
  padding: 13px 20px 14px 19px;
}

.photo-of-day__image {
  width: 100%;
}
