.prices {

    outline: 3px solid rgba(0, 255, 0, 0.5);
    outline-offset: -3px;
}
.prices__table {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.prices__table-title {
  background-color: @basic-font;
  color: @white;
  text-transform: uppercase;

}

.hidden-cell {
display: none;
}
