.progress__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media (min-width: @desktop-width) {
  .progress__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.progress__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
}
