.system-icons {
  background-color: @basic-font;
}

@media (min-width: @tablet-width) {
  .system-icons {
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .system-icons {
    background-color: transparent;
  }
}

.system-icons__description {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
  color: @white;
  padding-bottom: 30px;
}

.system-icons__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 29px;
  border: 3px solid @white;
  background-color: transparent;
  color: @white;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 32px;
}

// @media (min-width: @tablet-width) {
//   .system-icons__button {
//     width: 300px;
//   }
// }

.system-icons__group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 20px;
}

@media (min-width: @tablet-width) {
  .system-icons__group {
    width: 300px;
  }
}

@media (min-width: @tablet-width) {
  .system-icons__description {
    width: 300px;
  }
}

.system-icons__wrapper {
  width: 280px;
  margin: 0 auto;
}
